<head>
  <link href="/assets/css/paper-kit.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-toggleable-md fixed-top navbar-transparent" color-on-scroll="450">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand">Rice is good</a>
      </div>
    </div>
  </nav>
  <div class="wrapper ">
    <div class="documentation page-header flex-column align-items-center" style="background-image: url('../assets/img/rice_field_splashimage.jpg')">
      <div class="filter"></div>
      <div class="content">
        <div class="motto text-center">
          <h2 class="title-uppercase text-center">Discover your Rice</h2>
          <br />
        </div>
        <div class="container">
          <iframe id="youtubeVideo" src="https://www.youtube.com/embed/7LqAJoD-PpA?enablejsapi=1" frameborder="0"
            allowfullscreen allow="autoplay" class="video"></iframe>
            
        </div>
        <br />
        <!-- <h3 class="text-center">Start the video to learn more about rice. We are combining newest ML technology to provide you an context-sensitive learning experience.</h3> -->
      </div>
      <div class="col-md-8 motto text-center">
        <h5 >Start the video to learn more about rice. We are combining newest ML technology to provide you with the best possible context-sensitive learning experience.</h5>
      </div>
    </div>
  </div>
</body>